<!DOCTYPE html>
<html lang="{{ site.lang | default: " en-US " }}">

<head>
  <meta charset='utf-8'>
  <meta http-equiv="X-UA-Compatible" content="chrome=1">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">
</head>
 
<body>
  <script type="text/javascript" src="https://platform.linkedin.com/badges/js/profile.js" async defer></script>
  <header>
    <div class="container">
      <section id="navigation_menu">
        <nav>
          <a href="/">About Me</a> |
          <a href="/blog">My Blogs</a>
        </nav>
      </section>
    </div>
  </header>

  <br />
  <div class="mycontainer" item-width="87">
    <section id="main_content">
      {{ content }} 
    </section>
  </div>
  <br />
  <footer>
    <div class="LI-profile-badge"  data-version="v1" data-size="large" data-locale="en_US" data-type="vertical" data-theme="dark" data-vanity="vimalsh"><a class="LI-simple-link" href='https://au.linkedin.com/in/vimalsh?trk=profile-badge'>Vimal Shekar</a></div>
    <div class="footnote" item-width="90">
    <nav>
      <a href="/">About Me</a> |
      <a href="/blog">My Blogs</a> |
      email:<a href="mailto:vimalsh@live.com">vimalsh@live.com</a> | 
      Github:<a href="https://github.com/VimalShekar">https://github.com/vimalshekar</a>      
    </nav>
    </div>
  </footer>
</body>

</html>
