---
layout: default
---

<div class="PageNavigation">
  {% if page.previous.url %}
  Previous Post:
    <a class="prev" href="{{page.previous.url}}">{{page.previous.title}}</a>
  {% endif %}
      | Next Post: 
  {% if page.next.url %}
    <a class="next" href="{{page.next.url}}">{{page.next.title}}</a>
  {% endif %}
</div>


<h1>{{ page.title }}</h1>
<p class="meta">{{ page.date | date_to_string }}</p>

<div class="post">
  {{ content }}

  {% include comments.html %}
 
</div>

# Author:
<div class="LI-profile-badge"  data-version="v1" data-size="medium" data-locale="en_US" data-type="vertical" data-theme="dark" data-vanity="vimalsh"><a class="LI-simple-link" href='https://au.linkedin.com/in/vimalsh?trk=profile-badge'>Vimal Shekar</a></div>


<div class="PageNavigation">
  {% if page.previous.url %}
  Previous Post:
    <a class="prev" href="{{page.previous.url}}">{{page.previous.title}}</a>
  {% endif %}
      | Next Post: 
  {% if page.next.url %}
    <a class="next" href="{{page.next.url}}">{{page.next.title}}</a>
  {% endif %}
</div>